**__pycache__**
**build**
**egg-info**
**dist**
*.pyc
*.idea/
BEV_img_ipynb/labels_zero/parta2_anchor/baseline/*.txt
BEV_img_ipynb/labels_zero/parta2_anchor/fuzzy/*.txt
BEV_img_ipynb/labels_zero/parta2_free/baseline/*.txt
BEV_img_ipynb/labels_zero/parta2_free/fuzzy/*.txt
BEV_img_ipynb/labels_zero/pointpillars/baseline/*.txt
BEV_img_ipynb/labels_zero/pointpillars/fuzzy/*.txt
BEV_img_ipynb/labels_zero/second/baseline/*.txt
BEV_img_ipynb/labels_zero/second/fuzzy/*.txt
BEV_img_ipynb/labels_zero/pv_rcnn/baseline/*.txt
BEV_img_ipynb/labels_zero/pv_rcnn/fuzzy/*.txt
BEV_img_ipynb/result/000106/*.png
BEV_img_ipynb/result/000191/*.png
BEV_img_ipynb/result/000956/*.png
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
**/GPU
**/GPU_v